/* Container Styling */
.task-create-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 50px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading Styling */
h2, h3 {
    text-align: center;
    color: #333;
}

/* Table Styling */
.task-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.task-table th, .task-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.task-table th {
    background-color: #cae350;
    color: white;
}

.task-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.task-table tr:hover {
    background-color: #f1f1f1;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #44d347;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #166dca;
}

button[type="button"] {
    background-color: #dc3545;
}

button[type="button"]:hover {
    background-color: #a82332;
}

.message-box {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

.error-box {
    background-color: #ffdddd;
    border: 1px solid #ff0000;
    color: #a00000;
}

.success-box {
    background-color: #ddffdd;
    border: 1px solid #00a000;
    color: #006400;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
 
.nav-links button {
    padding: 10px 15px;
    margin-left: 15px;
    background-color: white;
    color: #007BFF;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-links button:hover {
    background-color: #0056b3;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    padding: 5px 10px;
}

.delete-btn:hover {
    background-color: #c82333;
}

.edit-btn {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  .status-high {
    color: #d9534f;
    font-weight: bold;
  }
  
  .status-medium {
    color: #f0ad4e;
    font-weight: bold;
  }
  
  .status-low {
    color: #5cb85c;
    font-weight: bold;
  }
  